{% extends "base.html" %}
{% load static %}

<!-- container for spacing -->
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="image container h-100" >
        <div class="row h-100">
            <!-- tagline -->
            <div class="buy-donate col-12 col-md-6 col-lg-6  my-auto">
                <h1>Buy and Donate Vintage clothes and Kids toys</h1>
                <!-- shop and donate buttons -->
                <div class="my-5">
                    <h4>
                        <a href="{% url 'items' %}" class="shop-now-button btn btn-lg text-uppercase py-3">Shop Now</a>
                        <a href="" class="donate-now-button btn btn-lg text-uppercase py-3">Donate Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="container h-25">
        <div class="row h-25">
            <div class="col"></div>
        </div>
    </div>
    <!-- about us section -->
    <div class="container h-56 about g-0">
        <div class="row h-56 about-us-width">
            <div class="col-12 g-0">
                <h2>Jordaan Vintage & Charity</h2>
                <p>
                    Joordan Vintage & Charity was created in the beginning of 2023 to help those in need and to sort out your wardrobe.
                </p>
                <p>
                    Buy fantastic clothes to give them a second chance or give away clothes that you don't need anymore.
                </p>
                <p>
                    With the money earned with selling the clothes we help the families of our community in Jordaan.
                </p>

            </div>
        </div>
    </div>
{% endblock %}