{% extends "base.html" %}
{% load static %}

<!-- container for spaceing -->
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100" >
        <div class="row h-100">
            <!-- tagline -->
            <div class="buy col-12 col-md-6 col-lg-6  my-auto">
                <h1>Buy and Donate Vintage clothes and Kids toys</h1>
                <!-- shop and donate buttons -->
                <div class="my-5">
                    <h4>
                        <a href="" class="shop-now-button btn btn-lg text-uppercase py-3">Shop Now</a>
                        <a href="" class="donate-now-button btn btn-lg text-uppercase py-3">Donate Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="container h-25">
        <div class="row h-25">
            <div class="col"></div>
        </div>
    </div>
    <!-- about us section -->
    <div class="container h-56 about-us g-0">
        <div class="row h-56 about-us-width">
            <div class="col-12 g-0">
                <h2></h2>
                <p>
                </p>
                <p>
                </p>
                <p>
                </p>

            </div>
        </div>
    </div>
{% endblock %}