/* background colour to cover picture */
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.blog-header {
    margin-top: 30px;
}

